language: go

go: 1.7.4

cache:
  directories:
  - "${HOME}/gopath/bin"

env:
  global:
  - TRAVIS_COMMIT_SHORT="$(echo ${TRAVIS_COMMIT} | cut -b1-7)"
  - TRAVIS_COMMIT_LESSSHORT="$(echo ${TRAVIS_COMMIT} | cut -b1-9)"
  - PATH="${HOME}/gopath/bin:${PATH}"

addons:
  artifacts:
    paths:
    - "./build/linux/amd64/cyclist"
    - "./build/darwin/amd64/cyclist"
    - "./build.tar.gz"
    target_paths:
    - travis-ci/cyclist/$TRAVIS_BRANCH
    - travis-ci/cyclist/$TRAVIS_COMMIT
    - travis-ci/cyclist/$TRAVIS_COMMIT_SHORT
    - travis-ci/cyclist/$TRAVIS_COMMIT_LESSSHORT

script:
- make
- build/linux/amd64/cyclist --help
- build/linux/amd64/cyclist serve --help
# - TODO: #5 build/linux/amd64/cyclist sqs --help
- grep -q web Procfile
- grep -q worker Procfile

after_success:
- bash <(curl -s https://codecov.io/bash)
- tar -czvf build.tar.gz build Procfile Makefile
